button {
    position: relative;
    border: 0;
    display: inline-block;
    width: 12rem;
    height: auto;
    outline: none;
    vertical-align: middle;
    background: transparent;
}

.text {
    position: absolute;
    inset: 0;
    padding: 1rem 0;
    margin-left: 3.2rem;
    color: #1D4735;
    line-height: 1.1;
    text-align: center;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
}

.circle {
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #1D4735;
    border-radius: 1.625rem;
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

.icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #82DF85;
}

.arrow {
    left: 0.605rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
    transition: all 0.4s ease-in-out;
}

.arrow::before {
    content: "";
    position: absolute;
    top: -0.3rem;
    right: 0.0525rem;
    width: 0.725rem;
    height: 0.625rem;
    border-top: 0.125rem solid #82DF85;
    border-right: 0.125rem solid #82DF85;
    transform: rotate(45deg);
}

button:hover .circle {
    width: 110%;
}

button:hover .arrow {
    background: #82DF85;
    transform: translateX(1rem);
}

button:hover .text {
    color: #82DF85;
}


.trash-type-btn {
    background: none;
    border: 5px solid #82DF85;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.1s linear;
    z-index: 40;
    position: relative;
    /* Menambahkan properti position */
}

.trash-type-btn:hover {
    color: #1D4735;
    border-radius: 12px;
}

.trash-type-btn::before {
    border-radius: 1px;
    content: "";
    width: 100%;
    height: 100%;
    background: #82DF85;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom;
    /* Atur titik transformasi ke bagian bawah */
    transition-timing-function: cubic-bezier(1.5, 1.6, 0.4, 0.7);
    position: absolute;
    transform: scaleY(0);
    /* Mengatur awalnya menjadi tidak terlihat */
}

.btn1::before {
    transform: scaleY(0);
    border-radius: 0;

}

.btn1:hover::before {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 0px;
    transform: scaleY(1);
    /* Mengubah ukuran dari 0 menjadi 1, naik dari bawah ke atas */
}