@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-lora: "Lora", serif;
    color-scheme: dark;
}

*::selection {
    background-color: #1D4735; 
    color: #82DF85;
}


* {
    scroll-behavior: smooth;
}

@layer utilities {
    .padding {
        @apply sm:px-16 px-8 sm:py-24 py-12;
    }

    .padding-x {
        @apply sm:px-16 px-8;
    }

    .padding-y {
        @apply sm:py-24 py-12;
    }

    .padding-l {
        @apply sm:pl-16 pl-8;
    }

    .padding-r {
        @apply sm:pr-16 pr-8;
    }

    .padding-t {
        @apply sm:pt-24 pt-12;
    }

    .padding-b {
        @apply sm:pb-24 pb-12;
    }

    ul li {
        @apply relative;
    }

    ul li::after {
        @apply content-[''] bg-color-1 h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-200;
    }

    ul li:hover::after {
        @apply w-[100%];
    }
}